<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favorite</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./styles/web/index.css" />
  </head>
  <body>
    <!-- include loading -->
    <%- include("../Loading/index.ejs") %>

    <!-- wrapper browser -->
    <div class="container-browser">
      <!-- include header -->
      <%- include('../Header/index.ejs') %>
      <!-- include main -->
      <main style="width: 100%; background-color: #000000">
        <!-- list film -->
        <div class="" style="width: 100%; height: 10rem"></div>
        <div class="wrapper-slide-list-film">
          <div class="title-list-film">
            <span>Danh sách phim của tôi</span>
          </div>
          <div class="wrapper-list-film" id="wrapper-list-film">
            <div class="list-film-browser">
              <% favoriteList.forEach((film, index) => { %>
              <div class="film-browser">
                <img
                  src="<%= film.f_poster %>"
                  alt="film"
                  onclick="getDetailFilm(this)"
                  data-id="<%= film.f_id %>"
                  data-iframe="<%= film.f_trailer %>"
                  data-desc="<%= film.f_description %>"
                />
              </div>
              <% }) %>
            </div>
          </div>
          <div class="list-slide-film-prev">
            <i class="fa-solid fa-chevron-left"></i>
          </div>
          <div class="list-slide-film-next">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </div>
        <script>
          // const removeYourFavorite = (i) => {
          //   const idFilm = i.getAttribute("data-id");
          //   location.href = `/removeYourFavorite/${idFilm}`;
          // };
        </script>
      </main>
    </div>
    <div class="wrapper-filter-detail-film">
      <div class="filter-detail-film"></div>
      <div class="scroll-detail-film">
        <div class="block-detail-film">
          <div class="video-detail-film">
            <iframe
              src=""
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            ></iframe>
          </div>
          <div class="content-detail-film">
            <div class="list-btn-detail-film">
              <button><i class="fa-solid fa-play"></i>Phát</button>
              <a href="#" id="removeFavorite"
                ><span>Xóa khỏi danh sách của tôi</span
                ><i class="fa-solid fa-trash"></i
              ></a>
              <a href="#"><i class="fa-regular fa-heart"></i></a>
            </div>
            <h3
              style="
                color: #fff;
                margin-bottom: 1rem;
                font-weight: 500;
                padding-left: 2rem;
              "
            >
              Mô tả:
            </h3>
            <div class="description-detail-film"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="./js/detailFilm.js"></script>
</html>
