<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favorite</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./styles/web/index.css" />
  </head>
  <body>
    <!-- include loading -->
    <%- include("../Loading/index.ejs") %>

    <!-- wrapper browser -->
    <div class="container-browser">
      <!-- include header -->
      <%- include('../Header/index.ejs') %>
      <!-- include main -->
      <main style="width: 100%; background-color: #000000">
        <!-- list film -->
        <div class="" style="width: 100%; height: 10rem"></div>
        <div class="wrapper-slide-list-film">
          <div class="title-list-film">
            <span>Danh sách phim của tôi</span>
          </div>
          <div class="wrapper-list-film" id="wrapper-list-film">
            <div class="list-film-browser">
              <% favoriteList.forEach((film, index) => { %>
              <div class="film-browser">
                <label for="filter-detail-film-<%= index %>">
                  <img src="<%= film.f_poster %>" alt="film" />
                </label>
                <input
                  type="checkbox"
                  id="filter-detail-film-<%= index %>"
                  hidden
                />
                <div class="wrapper-detail-film-browser">
                  <label
                    for="filter-detail-film-<%= index %>"
                    class="bg-filter-detail-film"
                  ></label>
                  <div class="detail-film-browser">
                    <div class="wrapper-video">
                      <iframe
                        width="100%"
                        height="520"
                        src="<%= film.f_trailer %>"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                      ></iframe>
                    </div>
                    <div class="content-film">
                      <div class="content-left">
                        <div class="play-film">
                          <button>
                            <i class="fa-solid fa-play"></i><span>Phát</span>
                          </button>
                          <div class="add-favorite">
                            <i
                              class="fa-solid fa-trash"
                              onclick="removeYourFavorite(this)"
                              data-id="<%= film.f_id %>"
                              ><span>Xóa khỏi danh sách của tôi</span></i
                            >
                            <i class="fa-regular fa-heart"
                              ><span>Yêu thích</span></i
                            >
                          </div>
                        </div>
                        <div class="film-description">
                          <%= film.f_description %>
                        </div>
                      </div>
                      <div class="content-right">
                        <span><p>Diễn viên:</p></span>
                        <span><p>Thể loại:</p></span>
                      </div>
                    </div>
                    <div class="similar-content"></div>
                  </div>
                </div>
              </div>
              <% }) %>
            </div>
          </div>
          <div class="list-slide-film-prev">
            <i class="fa-solid fa-chevron-left"></i>
          </div>
          <div class="list-slide-film-next">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </div>
        <script>
          const removeYourFavorite = (i) => {
            const idFilm = i.getAttribute("data-id");
            location.href = `/removeYourFavorite/${idFilm}`;
          };
        </script>
      </main>
    </div>
  </body>
</html>
