<div class="main__content">
  <div class="main__content_head flex_center"></div>
  <div class="main__content_body">
    <form
      id="my__form_film"
      action="/update/edit-film"
      method="post"
      enctype="multipart/form-data"
    >
      <h1 class="title_form">Cỉnh sửa dự án phim</h1>
      <input type="text" name="f_id" id="" hidden value="<%= idFilm %>" />
      <div class="group-1-2">
        <div class="my__form-group">
          <label for="cate">Thể Loại</label>
          <select name="f_category" id="cate" required>
            <option value="">-- Chọn Thể Loại --</option>
            <option value="drama">Drama</option>
            <option value="Hoạt hình">Hoạt hình</option>
            <option value="Khoa học viễn tưởng">Khoa Học Viễn Tưởng</option>
            <option value="Tình cảm">Tình Cảm</option>
            <option value="hành động">hành động</option>
            <option value="Kinh dị">Kinh Dị</option>
            <option value="Phiêu lưu">Phiêu Lưu</option>
          </select>
        </div>
        <div class="my__form-group">
          <label for="">Tiêu đề hiển thị</label>
          <input
            type="text"
            placeholder="Nhập tiêu đề hiển thị ..."
            class="my-form-control"
            name="f_title"
            value="<%= detailFilm.f_title %>"
            required
          />
        </div>
      </div>
      <div class="group-1-3">
        <div class="my__form-group">
          <label for="">Diễn viên chính</label>
          <input
            type="text"
            placeholder="Nhập tên diễn viên ..."
            class="my-form-control"
            name="f_actor"
            value="<%= detailFilm.f_actor %>"
            required
          />
        </div>
        <div class="my__form-group">
          <label for="">Tên nhân vật</label>
          <input
            type="text"
            placeholder="Nhập tên nhân vật ..."
            class="my-form-control"
            name="f_character"
            value="<%= detailFilm.f_character %>"
            required
          />
        </div>
        <!-- <div class="my__form-group">
            <label for="">Hình ảnh</label>
            <input
              type="file"
              placeholder="Nhập tên nhân vật ..."
              class="my-form-control"
              required
            />
          </div> -->
      </div>
      <div class="group-1-4">
        <div class="my__form-group">
          <label for="">Đạo diễn</label>
          <input
            type="text"
            placeholder="Nhập tên diễn viên ..."
            class="my-form-control"
            name="f_directors"
            value="<%= detailFilm.f_directors %>"
            required
          />
        </div>
        <div class="my__form-group">
          <label for="">Quốc gia</label>
          <select name="f_country" id="nation" required>
            <option value="">-- Chọn quốc gia --</option>
            <option value="Hàn Quốc">Hàn Quốc</option>
            <option value="Thái Lan">Thái Lan</option>
            <option value="Mỹ">Mỹ</option>
            <option value="Việt Nam">Việt Nam</option>
            <option value="Anh">Anh</option>
            <option value="Pháp">Pháp</option>
            <option value="Trung Quốc">Trung Quốc</option>
          </select>
        </div>
        <div class="my__form-group">
          <label for="">Trailer</label>
          <input
            type="text"
            placeholder="Nhập đường dẫn trailer ..."
            class="my-form-control"
            name="f_trailer"
            value="<%= detailFilm.f_trailer %>"
            required
          />
        </div>
      </div>
      <div class="group-1-1">
        <div class="my__form-group">
          <label for="description_film">Mô Tả</label>
          <textarea
            name="f_description"
            placeholder="Nhập mô tả ..."
            id="description_film"
            cols=""
            rows=""
            required
          >
<%= detailFilm.f_description %></textarea
          >
        </div>
      </div>
      <div class="group-1-2">
        <div class="my__form-group poster_upload">
          <small>Chọn poster hiển thị</small>
          <label for="poster_img"
            ><img class="img_click" src="/img/ul_poster_default.png" alt=""
          /></label>
          <img class="poster_review" src="/<%= detailFilm.f_poster %>" alt="" />
          <input
            type="file"
            class="form-control-file"
            name="f_poster"
            id="poster_img"
          />
          <input
            type="text"
            name="old_poster"
            id=""
            hidden
            value="<%= detailFilm.f_poster %>"
          />
        </div>
        <div class="my__form-group banner_upload">
          <small>Chọn banner hiển thị</small>
          <label for="banner_img"
            ><img class="img_click-2" src="/img/ul_poster_default.png" alt=""
          /></label>
          <img class="banner_review" src="/<%= detailFilm.f_banner %>" alt="" />
          <input
            type="file"
            class="form-control-file"
            name="f_banner"
            id="banner_img"
          />
          <input
            type="text"
            name="old_banner"
            id=""
            hidden
            value="<%= detailFilm.f_banner %>"
          />
        </div>
      </div>
      <div class="btn_submit_form-data">
        <button type="submit">Hoàn Tất</button>
      </div>
      <div class="line"></div>
    </form>
  </div>
</div>
<script src="/js/review.js"></script>
