<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/web/index.css" />
    <title>Browser</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- include loading -->
    <%- include("../Loading/index.ejs") %>

    <!-- wrapper browser -->
    <div class="container-browser">
      <!-- include header -->
      <%- include('../Header/index.ejs') %> <%- include('../Banner/index.ejs')
      %>

      <!-- include main -->
      <main style="width: 100%; background-color: #000000; position: relative">
        <!-- list ranking film -->
        <%- include ('../ListRankingFilm/index.ejs') %>
        <!-- list film -->
        <% category.forEach((cate, index) => { %>
        <!--  -->
        <%- include ('../ListFilm/index.ejs', {title: cate, i: index,
        filmsByCate}) %>
        <!--  -->
        <% }) %>
      </main>
      <div class="wrapper-filter-detail-film">
        <div class="filter-detail-film"></div>
        <div class="scroll-detail-film">
          <div class="block-detail-film">
            <div class="video-detail-film">
              <iframe
                src=""
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              ></iframe>
            </div>
            <div class="content-detail-film">
              <div class="list-btn-detail-film">
                <button><i class="fa-solid fa-play"></i>Phát</button>
                <a href="#"
                  ><span>Thêm vào danh sách của bạn</span
                  ><i class="fa-solid fa-plus"></i
                ></a>
                <a href="#"><i class="fa-regular fa-heart"></i></a>
              </div>
              <h3
                style="
                  color: #fff;
                  margin-bottom: 1rem;
                  font-weight: 500;
                  padding-left: 2rem;
                "
              >
                Mô tả:
              </h3>
              <div class="description-detail-film"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- include footer -->
      <%- include('../Footer/index.ejs') %>
    </div>
  </body>
  <script src="./js/browser.js"></script>
  <script src="./js/detailFilm.js"></script>
</html>
